.btn {
  font-family: Arial;
  color: #224497;
  font-size: 16px;
  padding: 15px;
  background: #ffffff;
  border: solid #224497 3px;
  text-decoration: none;
  border-radius: 7px;
}

.btn:hover {
  background: #224497;
  text-decoration: none;
  color: #ffff;
}

.button_text {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #224497;
}
